<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>kaaaaassss</h1>
    <h2>hallo</h2>
    <%- include('deel.ejs') %>

    <form action="add_name" method="post">
        <label for="naam">naam:</label>
        <input type="text" name="name">
        <input type="submit" value="add name">

    </form>
</body>
</html>